.wrapper
  display: grid
  grid-column-gap: 4re
  grid-template-columns: 1fr
  grid-template-rows: 120px 270px 1fr 170px
  min-height: 100vh
  padding: 2rem

  max-width: $l-mw
  margin: auto

  @media (min-width: $bp-md)
    grid-column-gap: 8rem
    grid-template-columns: 1fr 130px
    grid-template-rows: 120px 1fr 170px
  @media (min-width: $bp-lg)
    grid-template-columns: 1fr 200px

.header
  @media (min-width: $bp-md)
    grid-area: 1 / 1
    h1, .h1
      margin: .5em 0
      text-align: right

.main
  grid-area: 3 / 1
  @media (min-width: $bp-md)
    grid-area: 1 span / 1

.nav
  grid-area: 2 / 1
  @media (min-width: $bp-md)
    grid-area: 1 span / 2

.footer
  grid-area: 4 / 1
  @media (min-width: $bp-md)
    grid-area: 3 / 2


.list
  li
    margin-bottom: 1em
