.wrapper
  display: grid
  grid-column-gap: 8rem
  grid-template-columns: 1fr 300px
  grid-template-rows: 120px 1fr 170px

.header
  grid-area: 1 / 1
  h1
    text-align: right

.main
  grid-area: 1 span / 1

.nav
  grid-area: 1 span / 2

.footer
  grid-area: 3 / 2
