<!DOCTYPE html>
<html lang="{{ config.default_language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="{{ config.extra.author }}">
    {% block meta %}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta property="og:url" content="{{ get_url(path="/") }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">
    {% endblock meta %}

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path="favicon-192x192.png") }}">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ get_url(path="favicon-128x128.png") }}">

    <link href="{{ config.base_url }}/main.css" rel="stylesheet">
    <link href="{{ get_url(path="rss.xml") }}" rel="feed" type="application/rss+xml" title="{{ config.title }}" />



    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#ecbd5f">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#040404">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#040404">
  </head>
  <body>
    <div class="wrapper">
      <div><header class="header">
        {% block heading %}{% endblock heading %}
        <a href="#nav" class="sr sr-focusable skiplink" aria-label="Skip content and go to navigation">Skip to navigation</a>
      </header>
      </div>

      <main class="main" id="content" tab-index="-1" aria-label="main content">
          {% block content %}{% endblock content %}
      </main>
      <div class="sidebar">
        <nav class="nav" id="nav" tab-index="-1" aria-label="main navigation">
          <ul>
            <li><a href="{{ get_url(path="/") }}" title="Home page">lislis.de</a></li>
            <li><a href="{{ get_taxonomy_url(kind="category", name="blog") }}">Blog</a></li>
            <li><a href="{{ get_taxonomy_url(kind="category", name="project") }}">Projects</a></li>
            <li><a href="{{ get_taxonomy_url(kind="category", name="game") }}">Games</a></li>
            <li><a href="{{ get_taxonomy_url(kind="category", name="talk") }}">Talks</a></li>
          </ul>
          <a href="#content" class="sr sr-focusable skiplink" aria-label="Jump back to main content">Jump to content</a>
        </nav>
        <footer class="footer">
          <hr>
          <div class="sidenote" aria-label="Content license note">
            <p>Content created by <a xmlns:cc="http://creativecommons.org/ns#" href="https://lislis.de" property="cc:attributionName" rel="cc:attributionURL">lislis</a> is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> unless otherwise noted.</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
