{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block meta %}
<meta name="description" content="{{ config.description }}">
<meta property="og:title" content="{{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
<meta property="og:url" content="{{ get_url(path="/") }}">
<meta property="og:description" content="{{ config.description }}">
<meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block heading %}
{% if page.taxonomies.category %}
{% for cat in page.taxonomies.category %}
<h1>{{ cat | capitalize }}</h1>
{% endfor %}
{% endif %}
{% endblock heading %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>
  {% if page.date %}
  <time datetime="{{page.date}}">{{page.date | date(format="%B %d, %Y")}}</time>
  {% endif %}
  {% if page.taxonomies.tags %}
  in
  {% for tag in page.taxonomies.tags %}
  {% set tagname = tag %}
  <a href="">#{{ tag }}</a>
  {% endfor %}
  {% endif %}
  <p>{{page.word_count}} {{page.reading_time}}</p>
</article>
{% endblock content %}
