{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block meta %}
<meta name="description" content="{{ config.description }}">
<meta property="og:title" content="{{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
<meta property="og:url" content="{{ get_url(path="/") }}">
<meta property="og:description" content="{{ config.description }}">
<meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block heading %}
{% if page.taxonomies.category %}
<p class="visual__title">
  {% for cat in page.taxonomies.category %}
  {{ cat | capitalize }}{% if loop.last == false %},{% endif %}
  {% endfor %}
</p>
{% endif %}
{% endblock heading %}

{% block content %}
<article class="post">
  <header>
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__meta">
    {% if page.date %}
    <time datetime="{{page.date}}">{{page.date | date(format="%B %d, %Y")}}</time>
    {% endif %}
    </p>
  </header>
  <div class="post__body">
    {{page.content | safe}}
  </div>
  <footer class="post__footer">
    {% if page.taxonomies.tags %}
    Tagged
    {% for tag in page.taxonomies.tags %}
    {% set url = get_taxonomy_url(kind="tags", name=tag) %}
    <a href="{{url}}" class="c__tag">#{{ tag }}</a>{% if loop.last == false %},{% endif %}
    {% endfor %}
    {% endif %}
  </footer>
</article>
{% endblock content %}
