{% extends "base.html" %}

{% block title %}{{ section.title }} - lislis.de{% endblock title %}

{% block heading %}
<h1 class="visual__title">{{section.title}}</h1>
{% endblock heading %}


{% block content %}
<div>
  <ul class="post-list">
    {% for page in section.pages %}
    <li>

      <time datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d") }}</time> -
      {% if page.taxonomies.category %}
      {% for cat in page.taxonomies.category %}
      <a href="{{ get_taxonomy_url(kind="category", name=cat)}}">{{cat | capitalize}}</a>
      {% endfor %} -
      {% endif %}
      <a href="{{ page.permalink }}">{{page.title}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
