{% extends "index.html" %}

{% block title %}
talks - lislis.de
{% endblock title %}

{% block heading %}
<h1>{{section.title}}</h1>
{% endblock heading %}



{% block content %}
{% set posts = get_section(path="talks/_index.md") %}

<ul>
  {% for page in posts.pages %}
  <li><a href="{{ page.permalink }}">{{page.title}}</a><br>
    {{page.extra.conference}} {{page.extra.year}}<br>
    <a href="{{page.extra.slides}}">Slides</a> | <a href="{{page.extra.code}}">Code</a>
  </li>
  {% endfor %}
</ul>

{% endblock content %}
